
<div id="jumbo" class="jumbotron">
	<div class="container">
		<h2>Headstart with Bootstrap</h2>
		<p>Lorem ipsum dolor sit amet, in reprehenderit in voluptate ut aliquip ex ea commodo consequat. Excepteur sint occaecat ut labore et dolore magna aliqua. Eu fugiat nulla pariatur. Velit esse cillum dolore duis aute irure dolor cupidatat non proident. Qui officia deserunt sunt in culpa ullamco laboris nisi..</p>
		<p><a class="btn btn-primary btn-lg" role="button"><span class="glyphicon glyphicon-search"></span> Saber mais &raquo;</a></p>
	</div>
</div>
